/* TORNEOS */
.torneos{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    background-image: linear-gradient(orange,red);

    max-width: $pantallaGrande;

    height: $alturaGeneral;

    padding: $paddingGeneral;

    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

    & h2{
        font-size: 40px;
        grid-column: 1/3;
        grid-row: 1;
    
        text-align: center;
    }

    &-form{
        width: max-content;
        height: max-content;

        grid-column: 1;
        grid-row: 2;

        & form{
            text-align: center;

            background-color: #FFD460;
        
            border: black solid 5px;
            border-radius: 20px;
        
            width: 550px;
            height: 231px;

            padding: 10px;

            & label{
                display: inline-block;

                text-align: right;
            
                width: 250px;
                
                font-size: 20px;
            }

            & select{
                display: inline;
                width: 250px;

                border: black solid 1px;

                font-size: 20px;

                margin-bottom: 5px;
            }

            & input{        
                border: black solid 1px;

                margin-top: 20px;
                margin-inline: 30px;
            }
        }
    }

    & textarea{
        grid-column: 2;
        grid-row: 2;
        
        border: black solid 5px;

        width: 550px;
        height: 231px;

        font-size: 20px;

        resize: none;
    }
}

@media (max-width: 576px){
.torneos{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    height: 100%;

    padding: $paddingMobile;

    & h2{
        font-size: $titulosMobile;
        width: 100%;
        padding-bottom: $paddingBottomM;
    }

    &-form{
        margin: 0%;

        width: 100%;
        height: 100%;
        
        padding-bottom: $paddingBottomM;

        & form{
            height: max-content;
            width: 100%;

            & label{
            width: 160px;
                
            font-size: 15px;
            }

            & select{
                width: 160px;
            
            font-size: 15px;
            }
        }
    }

    & textarea{
        grid-column: 1;
        grid-row: 3;

        width: 100%;
        height: 100%;

        height: 230px;
        width: 100%;

        font-size: 17px;
    }
}
}