/* INDEX FOOTER */
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    background-color: #F07B3F;

    height: 54px;

    padding-left: $paddingGeneral;
    padding-right: $paddingGeneral;
    padding-top: 0px;
    padding-bottom: 0px;

    max-width: $pantallaGrande;

    align-items: center;

    &-rrss{
        grid-column: 1;
        grid-row: 1;

        margin-bottom: 0px;
        padding-left: 0px;

        & li{
            display: inline;

            & a i{
                font-size: 30px;
                margin-inline: 5px;
                color: darkblue;
                text-align: left;
            }
        }
    }
    &-icono{
        display: grid;
        grid-column: 2;
        grid-row: 1;

        & h2{
            font-size: 25px;
            margin-bottom: 0px;

            & a i{
                font-size: 25px;
                color: white;
                background-color: black;
                padding-inline: 5px;
                border-radius: 5px;
                margin-right: 5px;
            }
        }
    }
    & .navbar{
        height: 0px;
    }
}

@media (max-width: 576px){
.footer{
    grid-template-columns: repeat(2,1fr);

    justify-items: center;
    align-content: center;

    height: 100%;

    &-rrss li a i{
        font-size: 25px;
        margin-inline: 5px;
    }
    
    &-icono h2{
        font-size: 12px;

        vertical-align: middle;

        & i{
            vertical-align: middle;

            font-size: 25px;
            color: white;
            background-color: black;
            padding-inline: 3px;
            border-radius: 5px;
        }
    }

    & .navbar{
        display: none;
    }
}
}