$pantallaGrande: 1500px;
$paddingGeneral: 20px;
$alturaGeneral: 548px;

$titulosMobile:30px;
$titulosTablet:35px;
$parrafosMobile:20px;
$parrafosTablet:25px;

$paddingMobile: 5px;
$paddingTablet: 10px;
$paddingBottomM:5px;
$paddingBottomT:10px;
